extends template 
block content 

  h1.header Agent Login
  img(src='/Images/Globe blue on transparent.png')
  div
    section
      div
        #register
          form(action='/agents' method='POST')
            div
              label(for='AgtEmail') Agent Email
              input#AgentID(name='AgtEmail' placeholder='agent@travelexperts.com' required='')
            div
              label(for='Password') Password
              input#password(type='password' name='Password' required='' placeholder='Password')
            br
            br
            button.action(type='submit' style='width:30%') SUBMIT
