doctype html
head
  title Agent Login
  meta(name='description' content='This is the description')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,500&family=Raleway:ital,wght@0,100;0,400;0,700;1,100&display=swap')
  link(rel='stylesheet' href='styles.css')
header
  nav
    ul.navbar
      li.active
        a(href='index') HOME
      li
        a(href='packages') PACKAGES
      li
        a(href='register') REGISTER
      li
        a(href='contact') CONTACT
  h1.header Agent Login
  img(src='Images/Travel Experts Logo on White.jpg')
div
  section
    div
      #register
        form(action='agents' method='GET')
          div
            label(for='agentId') Agent ID
            input#AgentID(name='AgentId' placeholder='Agent Id' required='')
          div
            label(for='password') Password
            input#password(type='password' name='password' required='' placeholder='Password')
          br
          br
          button.action(type='submit' style='width:30%') SUBMIT
  footer.main-footer
    div
      p
        | &#169 copy 2020 Travel Experts Inc
