extends template 
block content

    h1.header Asian Expedition
    h1
    div
        div
        img.main-images(width="33%", src="/Images/japan1.jpg")
        img.main-images(width="33%", src="/Images/korea1.jpg")
        img.main-images(width="33%", src="/Images/trainTour1.jpg")
    div
        h1.header.description-header Package Description
        ul.package-description.package-details
        li 15 nights in a 4 amazing star resorts
        li Visit Japan, China and South Korea
        li Transportion Included
        li Site Seeing Tours Included
        li Round Trip Flights Included
    div
        h1.header.description-header CART
    .cart-row
        strong.cart-package.cart-header.cart-column PACKAGE
        strong.cart-price.cart-header.cart-column PRICE
        strong.cart-quantity.cart-header.cart-column QAUNTITY
    .cart-row
        .cart-package.cart-column
        img(src="/images/thailand2.jpg", width="100", height="100")
        span.package-name Asian Expedition
        span.cart-price.cart-column $2800.00
        .cart-quantity.cart-column
        input.input-box(type="number", value="1")
        button.button-cart(role="button") REMOVE
    br
    .cart-total
        strong Total
        span $2800.00
    br
    div
        button.button-cart.button-cart-purchase(role="button") PURCHASE
            


    