extends agenttemp
block content 

  h1.header Customer Database
  div   
    each customer in customers
      ul 
        ol
          a(href='agent/auth/cust/' + customer.CustomerId style='font-size: 1rem') #{customer.CustLastName}, #{customer.CustFirstName}

      
        
    


    

