extends agenttemp
block content 

  h1.header Agent Login
  img(src='/Images/Globe blue on transparent.png')
  div.white
    h2 What do you want to start your search?
    ol
      li
        a(href='/auth/cust') Customer Database
      li
        a(href='/auth/pack') Packages Database 

    div 
      
        
    


    

