extends template 
block content
    
      h1="Booking Details:"
        each bookingdetail in bookingdetails
          ul 
            ol
              a(href='/bookingdetails/' + bookingdetail.BookingDetailId style='font-size: 50%') #{bookingdetail.BookingDetailID}
              hr