extends packtemplate 
block content

    h1.header Caribbean New Year
    h1
    div
      img.main-images(width="33%", src="/Images/caribbean.jpg")
      img.main-images(width="33%", src="/Images/newYear.jpg")
      img.main-images(width="33%", src="/Images/hawaii3.jpg")
    div
    h1.header.description-header Package Description
    ul.package-description.package-details
      li 10 nights in a 5 star restort
      li 4 private resort pools
      li Breakfast Buffet
      li Endless Family Fun Excersions
      li Round Trip Flights Included
    div
      button.button-cart.button-cart-purchase ADD TO CART
    div
        h1.header.description-header CART
    .cart-row
        strong.cart-package.cart-header.cart-column PACKAGE
        strong.cart-price.cart-header.cart-column PRICE
        strong.cart-quantity.cart-header.cart-column QAUNTITY
    .cart-package-total
        .cart-row
            .cart-package.cart-column
                img(src="/images/caribbean.jpg", width="100", height="100")
                span.package-name Caribbean New Years
            span.cart-price.cart-column $4800.00
            .cart-quantity.cart-column
                input.input-box(type="number", value="1")
                button.button-remove(role="button") REMOVE
        br
    .cart-total
        strong Total
        span $4800.00
    br
    div
        button.button-cart.button-cart-purchase(role="button") PURCHASE