doctype html
head
  title Contact
  meta(name='description' content='This is the description')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,500&family=Raleway:ital,wght@0,100;0,400;0,700;1,100&display=swap')
  link(rel='stylesheet' href='/stylesheets/styles.css')
header
  nav
    ul.navbar
      li
        a(href='index') HOME
      li
        a(href='packages') PACKAGES
      li
        a(href='register') REGISTER
      li.active
        a(href='contact') CONTACT
  h1.header TRAVEL EXPERTS
  img(src='Images/Globe blue on transparent.png')
.contact-section(style='margin: 80px')
  .contact-calgary
    h3 CALGARY OFFICE
    p ADDRESS: 111 CALGARY RD NW
    p PHONE NUMBER: 111-111-1111
    p EMAIL: CALGARYOFFICE@CALGARY.COM
    // <img width="55%" src="images/Office Placeholder.png" />
  .contact-okotoks
    h3 OKOTOKS OFFICE
    p ADDRESS: 111 OKOTOKS RD NW
    p PHONE NUMBER: 111-222-2222
    p EMAIL: OKOTOKSOFFICE@OKOTOKS.COM
    // <img width="55%" src="Images/Office Placeholder 2.png" />
footer.main-footer
  div
    p &amp;copy 2020 Travel Experts Inc
