extends packtemplate 
block content

    h1.header European Vacation
    h1
    div
        div
        img.main-images(width="33%", src="/Images/denmark_L1.jpg")
        img.main-images(width="33%", src="/Images/france_L1.jpg")
        img.main-images(width="33%", src="/Images/germany1.jpg")
    div
        h1.header.description-header Package Description
        ul.package-description.package-details
            li 13 nights in a 3 amazings resorts
            li Visit Germany, Austria and France
            li Transportion Included
            li Site Seeing Tours Included
            li Round Trip Flights Included
    div
        button.button-cart.button-cart-purchase ADD TO CART
    div
        h1.header.description-header CART
    .cart-row
        strong.cart-package.cart-header.cart-column PACKAGE
        strong.cart-price.cart-header.cart-column PRICE
        strong.cart-quantity.cart-header.cart-column QAUNTITY
    .cart-package-total
        .cart-row
            .cart-package.cart-column
                img(src="/images/germany1.jpg", width="100", height="100")
                span.package-name European Vacation
            span.cart-price.cart-column $3800.00
            .cart-quantity.cart-column
                input.input-box(type="number", value="1")
                button.button-remove(role="button") REMOVE
        br
    .cart-total
        strong Total
        span $3800.00
    br
    div
        button.button-cart.button-cart-purchase(role="button") PURCHASE