doctype html
head
  title Travel Experts
  meta(name='description' content='This is the description')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,500&family=Raleway:ital,wght@0,100;0,400;0,700;1,100&display=swap')
  link(rel='stylesheet' href='/stylesheets/styles.css')
header
  nav
    ul.navbar
      li
        a(href='index') HOME
      li.active
        a(href='packages') PACKAGES
      li
        a(href='register') REGISTER
      li
        a(href='contact') CONTACT
  h1.header Packages
    div
      img(src='Images/Globe blue on transparent.png')
div
  hr.hrstyle
  .package-content
    img.travel(width='40%' height='40%' src='Images/singapore1.jpg')
    ul.package-description
      h1 SIGNAPORE
      li 10 Nights in Signapore
      li 5-Star Hotel
      li Full Buffet Breakfast
      li Private Tours
      li Round Trip Flights
      li
        a(href='packages')
          button.button(type='button') SELECT &#x25BA;
          p
hr.hrstyle
.package-content
  img.travel(width='40%' height='40%' src='Images/thailand1.jpg')
  ul.package-description
    h1 Thailand
    li 10 Nights in Thailand
    li 5-Star Hotel
    li Full Buffet Breakfast
    li Private Tours
    li Round Trip Flights
    li
      a(href='packages')
        button.button(type='button') SELECT &#x25BA;
        p
hr.hrstyle
.package-content
  img.travel(width='40%' height='40%' src='Images/thailand2.jpg')
  ul.package-description
    h1 China
    li 10 Nights in China
    li 5-Star Hotel
    li Full Buffet Breakfast
    li Private Tours
    li Round Trip Flights
    li
      a(href='packages')
        button.button(type='button') SELECT &#x25BA;
        p
hr.hrstyle
div
  footer.main-footer
    div
      p
        | &#169 copy 2020 Travel Experts Inc
