doctype html
head
  title Travel Experts
  meta(name='description' content='This is the description')
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,500&family=Raleway:ital,wght@0,100;0,400;0,700;1,100&display=swap')
  link(rel='stylesheet' href='/stylesheets/styles.css')
header
  nav
    ul.navbar
      li
        a(href='index') HOME
      li
        a(href='packages') PACKAGES
      li.active
        a(href='register') REGISTER
      li
        a(href='contact') CONTACT
  h1.header Register
  img(src='Images/Globe blue on transparent.png')
div
  #register
    h1 Your Journey Begins Here
    form(action='/register' method='POST')
      div
        label(for='First Name') First Name
        input(type='text' name='fname' id='First Name' placeholder='First Name' required='')
      div
        label(for='Last Name') Last Name
        input(type='text' name='lname' id='Last Name' required='' placeholder='Last Name')
      div
        label(for='email') Email
        input#email(type='email' name='email' required='' placeholder='Email Address')
      div
        label(for='password') Password
        input#password(type='password' name='password' required='' placeholder='Enter Password')
      button.button(type='submit' style='width:30%') SUBMIT
  section
    .browse-package2
      h2 Travel Experts
      p
        a(href='contact')
          button.button(type='button') CONTACT US &#x25BA;
footer.main-footer
  div
    p
      | &amp;copy 2020 Travel Experts Inc
